@font-face {
  font-family: 'DigitalNormal';
  /* src: url('../js/assets/DigitalNormal-X06j.otf') format('opentype'); */
  src: url('../js/assets/CursedTimerUlil-Aznm.ttf') format('truetype');
}

#ui-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 1360px;
  height: 1120px;
  background-image: url('../SpaceChaserSprites/UiOutline/uiLoading4.png');
  /* z-index: 1000;  */
  pointer-events: none;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
    overflow: hidden;

}
#movement {
  position: absolute;
  top: 56px;
  left: 3px;
  font-family: 'DigitalNormal', monospace;
  color: red;
  font-size: 2.1rem;
  z-index: 100;
  display: none;
  /* display: inline-block; */
  transform: scaleY(3); /* Stretch 1.5x taller */
  transform-origin: center;
}

#escapedCount {
  position: absolute;
  top: 330px;
  left: 3px;
  font-family: 'DigitalNormal', monospace;
  color: red;
  font-size: 1.2rem;
  z-index: 100;
  display: none;
  /* display: inline-block; */
  transform: scaleY(2); /* Stretch 1.5x taller */
  transform-origin: center;
}

#carryCount {
  position: absolute;
  top: 580px;
  left: 3px;
  font-family: 'DigitalNormal', monospace;
  color: red;
  font-size: 1.2rem;
  z-index: 100;
  display: none;
  /* display: inline-block; */
  transform: scaleY(2); /* Stretch 1.5x taller */
  transform-origin: center;
}

#timer {
  position: absolute;
  top: 865px;
  left: 18px;
  font-family: 'DigitalNormal', monospace;
  color: red;
  font-size: 1.6rem;
  z-index: 100;
  display: none;
  /* display: inline-block; */
  transform: scaleY(4); /* Stretch 1.5x taller */
  transform-origin: center;
}
  
body {
  text-align: center;
  background-color: black;
  /* background-image: url('../poopickerscreenthis9.png'); */
  background-size: cover;
  background-repeat: repeat;
  background-position: 100px;
}

@media  screen and (max-width: 1300px) and (min-width: 500px) {
  main {
    grid-area: game;
    display: flex;
    justify-content: space-between;
    margin: 0;
  } 
}

main {
  grid-area: game;
}

@media  screen and (max-width: 500px) {
  main {
    grid-area: game;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    align-self: center;
  } 
}

h1, h2, #urScore, button, #ur, #urScore2, #urScore3, #urScore4 {
  font-family: 'Press Start 2P', monospace;
  /* color: darkorange;
  background: darkgreen; */
  font-size: x-large;
}
  
#canvasContainer {
  justify-content: center;
  align-items: center;
} 

@media  screen and (min-width: 1300px){
  #container {
    width: 80rem;
    height: 80rem;
    /* background-color: darkgreen; */
    align-self: center;
    margin: auto;
    padding: 1em;
    display: block;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr;
    grid-template-areas: "top-left top-left top-right"
                          "game game game"
                          " btm-right";
  }
}

@media  screen and (max-width: 1300px) and (min-width: 500px) {
  #container {
    display: block;
    width: 100%;
    height: 414px;
    /* align-content: center; */
    /* padding: 1em 0 1em 0; */
  };
}

canvas {
  background-image: url("../SpaceChaserSprites/spacePrisonBackground1A.png");
  border: 3px gray solid;
  display: none;
  background-color: darkgray;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1536px;
  height: 1024px;
  transform: translate(-50%, -50%);
  /* z-index: 1; */
}

.cell-door {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1536px;
  height: 1024px;
  transform: translate(-50%, -50%);
  background-image: url('SpaceChaserSprites/cellDoors/cellDoor5.png');
  background-size: cover;
  pointer-events: none;
  display: none;
  /* z-index: 10; */
}

@media  screen and (max-width: 1300px) and (min-width: 500px) {
  #canvas {
    /* vertical-align: middle; */
    background-size: cover;
    justify-content: center;
    align-self: flex-end;
    float: right;
    width: 55vw;
    height: 90vh;
    /* width: 50vw;
    height: 40vw; */
    /* right: 15px; */
    margin: 5vh 1vh 5vh 35vh;
    float: right;
    vertical-align: middle;
    /* align-self: center; */
  };
}

@media  screen and (max-width: 500px) and (min-width: 2px) {
  #canvas {
    /* vertical-align: middle; */
    justify-content: center;
    align-self: flex-end;
    float: right;
    /* right: -10%; */
    /* width: 500px;
    height: 375px; */
    width: 100vw;
    height: 80vw;
    margin: 5vh 0 0 0;
    vertical-align: middle;
    align-self: center;
  };
}

/* @media  screen and (max-width: 500px) {
  #canvas {
    vertical-align: middle;
    justify-content: center;
    /* right: -10%; */
    /* width: 500px;
    height: 375px;
    width: 150vw;
    height: 50vh;
  };
} */

@media  screen and (max-width: 1300px) {
  .hideMe {
    display: none;
  };
}


@media  screen and (max-width: 1300px) and (min-width: 500px)  {
  #start-screen, #game-over-screen, #game-over-screen-win {
    color: black;
    /* background-image: url("../poopickerscreenthis9.png"); */
    background-size: cover;
    background-position: -90vw;
    width: 55vw;
    height: 90vh;
    margin: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    
  }
}

@media  screen and (max-width: 1300px) and (min-width: 500px)  {
  #start-screen {
    float: right;
  
  }

  }

@media  screen and (max-width: 500px) {
  #start-screen, #game-over-screen, #game-over-screen-win {
    color: gray;
    /* background-image: url("../poopickerscreenthis9.png"); */
    background-size: cover;
    background-position: -95vw;
    width: 90vw;
    height: 50vh;
    /* margin: 5vh; */
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    
  }
}

@media  screen and (min-width: 1300px) {
  #start-screen, #game-over-screen, #game-over-screen-win  {

    color: darkblue;
    display:flex;
    /* background-image: url("../poopickerscreenthis9.png"); */
    background-size: cover;
    background-position: center;
    width: 80rem;
    height: 60rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    
  }
}

@media  screen and (max-width: 1300px) and (min-width: 500px) {
    
  #butts {
    display: flex;
    width: 6rem;
    height: 3rem;
    float: right;
    align-self: center;
    align-items: center;
    vertical-align: middle;
    right: 10rem;
    margin: 5vh;
};
}

@media  screen and (min-width: 1300px) {
  #butts {
    display: none;
  }
}

@media  screen and (max-width: 500px) {
  #butts {
    display: none;
  }
}

@media  screen and (min-width: 500px) {
  #buttsLong {
    display: none;
  }
}
/* 
@media  screen and (min-width: 500px) {
  #status {
    display: none;
  }
} */

@media  screen and (max-width: 500px) {
  #buttsLong {
    display: flex;
    width: 80vw;
    height: 40vh; 
    align-self: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    /* right: 10rem; */
    margin: 0 0 0 0;
  }
}

@media  screen and (max-width: 1300px) { 
    #urScore, #urScore3, #urScore4 {
      align-self: center;
      padding: 1vw;
      font-size: .75rem;
      width: 10rem;
  };
}


@media  screen and (max-width: 500px) {
  #urScoreCon2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 1rem;
    /* width: 12rem; */
    /* margin-top: 3vh; */
    margin: auto;
    /* position: fixed; */
    left: 7%;
  }
}


@media  screen and (min-width: 1300px) {
  #urScoreCon2 {
    display: none;
  }
}

#urScore4 {
  margin: auto;
  width: auto;
}


#urScore3 {
  text-align: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  /* width: 90vw; */
  /* padding: 1rem; */
  margin: auto;
}

#urScoreCon3 {
  position: absolute;
  top: 2vh;
  justify-content: center;
  text-align: center;
}

#status2 {
  position: absolute;
  bottom: 2vw;
  left: 1vw;
  justify-content: center;
  text-align: center;
  font-size: 1vw;
  width: 35vw;
}


@media  screen and (min-width: 1300px) {
  #urScoreCon3 {
    display: none;
  }
}


@media  screen and (min-width: 1300px) {
  #urScore, #urScore2, #urScore3, #urScore4 {
    font-size: 50px;
    font-style: italic;
  }
}



#downButton, #upButton, #rightButton, #leftButton, #topLeftButton, #bottomLeftButton, #topRightButton, #bottomRightButton,#downButton, #upButtonL, #rightButtonL, #leftButtonL, #topLeftButtonL, #bottomLeftButtonL, #topRightButtonL, #bottomRightButtonL  {
  font-size: 1.5rem;
  margin: 0;
}

@media  screen and (min-width: 500px) {
  #topLeftButton, #bottomLeftButton, #topRightButton, #bottomRightButton, #topLeftButtonL #bottomLeftButtonL, #topRightButtonL #bottomRightButtonL {
    height: 16vh;
    width: 13vw;
  }
}


@media  screen and (min-width: 500px) {
  #rightButton, #leftButton, #rightButtonL, #leftButtonL {
    height: 16vh;
    width: 13vw;
  }
}

@media  screen and (min-width: 500px) {
  #downButton, #upButton,  #downButtonL, #upButtonL {
    height: 24vh;
    width: 13vw;
  }
}

@media  screen and (max-width: 500px) {
  #topLeftButton, #bottomLeftButton, #topRightButton, #bottomRightButton, #topLeftButtonL, #bottomLeftButtonL, #topRightButtonL, #bottomRightButtonL  {
    height: 11vh;
    width: 13vh;
  }
}

@media  screen and (max-width: 500px) {
  #rightButton, #leftButton, #rightButtonL, #leftButtonL {
    height: 12vh;
    width: 13vh;
  }
}

@media  screen and (max-width: 500px) {
  #downButton, #upButton, #downButtonL, #upButtonL  {
    height: 17vh;
    width: 13vh;
  }
}

#lButts {
  width: 13vh;
}

#rButts {
  width: 13vh;
}

#mButts {
  width: 13vh;
}

#bottomLeftArrow, #topRightArrow, #bottomLeftArrowL, #topRightArrowL  {
  transform: rotate(-45deg);
}

#topLeftArrow , #bottomRightArrow, #topLeftArrowL , #bottomRightArrowL  {
  transform: rotate(45deg);
}
  

@media  screen and (min-width: 1300px) {
  #top-left, #top-right, #btm-right {
    /* border: 3px orange solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
  }
}

#top-left {
  grid-area: top-left;
  display: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
  
#top-right {
  grid-area: top-right;
  display: none;
}

#btm-left {
  /* grid-area: btm-left; */
  display: none;
  width: 25vw;
}
  
#btm-right {
  grid-area: btm-right;
  display: none;
  width: 100%;
  justify-content: center;;
}

#game-over-screen {
  display: none;
}

button {
  background: red;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}