html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 500px;
    padding-top: 1em;
    text-align: center;
    background-color: black;
    /* background-image: url('../img/dungeonhell.png'); */
    background-size: cover;
    background-repeat: space;
  }
  
  h1, h2, #urScore, button, #ur {
    font-family: 'Press Start 2P', monospace;
    /* font-family: monospace; */
    color: goldenrod;
  }
  
  canvas {
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
    display: none;
    background-color: #222;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 600px;
  }
  
  #container {
    height: 900px;
  max-width: 80em;
  max-height: 800vh; 
  background-color: rgb(111, 12, 32);
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-left top-right"
                        "game game game"
                        "btm-left btm-right btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }
  
  #top-left {
    grid-area: top-left;
    display: none;
  }
  
  #top-right {
    grid-area: top-right;
    display: none;
    /* background-color: #222; */
     /* background-image: url('../img/funky-lines.png');  */
  }
  
  main {
    grid-area: game;
    height: 650px;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    display: none;
    /* background-color: #222; */
  }
  
  #btm-right {
    grid-area: btm-right;
    display: none;
    /* background-color: #222; */
  }

  #start-screen {
    display: block;
  }

  #game-over-screen {
    display: none;
  }